.eshop {
  font-size: 25px;
  padding-left: 2%;
}
.form-control {
  border-radius: 3px;
  width: 600px;
  margin-left: 20px;
}
.search-icon {
  position: absolute;
  z-index: 10;
  right: 52%;
  color: #185bd8;
}
.cart {
  font-size: 30px;
}
.add {
  font-size: 10px;
}
